<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= title %></title>

  <!-- site favicon -->
  <link rel="icon" type="image/png" href="/public/custom/type_2/favicon/favicon.png" />

  <!-- All stylesheet and icons css -->
  <!-- <link rel="stylesheet" href="/public/output/styles.css" /> -->
  <link rel="stylesheet" href="/public/vendor/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/public/vendor/bootstrap-icons/bootstrap-icons.css" />
  <link href="https://cdn.datatables.net/v/dt/dt-1.13.7/r-2.5.0/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/vendor/aos/aos.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="/public/custom/type_2/css/style_2.css" />
</head>
<%- include('modal.html') %>

<body>
  <div class="spinner-container d-none">
    <div class="spinner-border text-light" role="status"></div>
  </div>

  <!--  ======= SNS ======= -->
  <div class="sns-pc d-none">
    <div class="telegram">
      <img src="/public/images/telegram.png" alt="telegram" />
      <span class="text-center">
        <a href="https://t.me/#" class="ps-2" target="_blank">good888</a>
      </span>
    </div>
    <div class="kakao mt-2">
      <img src="/public/images/kakao.png" alt="kakao" />
      <span class="text-center ps-2">good888</span>
    </div>
  </div>

  <!-- ======= Main ======= -->
  <div id="main-section">
    <!--  ======= Header ======= -->
    <%- include('header.html') %>

    <div class="container text-center">

      <!--  ======= Banner ======= -->
      <div class="banner-section d-none d-lg-block">
        <div class="item-main">
          <img src="/public/custom/type_2/main/main_item.png" width="90%" alt="main" />
        </div>
      </div>

      <!--  ======= Carousel ======= -->
      <div class="carousel-cover mx-auto">
        <picture>
          <source media="(max-width: 992px)" srcset="/public/custom/type_2/main/m_main_slide_banner_bg.png" />
          <img src="/public/custom/type_2/main/main_slide_banner_bg.png" width='100%' height="100%"
            alt="carousel-cover" />
        </picture>
        <div id="carousel" class="carousel slide carousel-fade overflow-hiddennone" data-bs-ride="carousel">
          <div class="carousel-indicators d-none d-log-block">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
              aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <picture>
                <source media="(max-width: 992px)" srcset="/public/custom/type_2/slide/m_slide_banner_01.webp" />
                <img src="/public/custom/type_2/slide/slide_banner_01.webp">
              </picture>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <picture>
                <source media="(max-width: 992px)" srcset="/public/custom/type_2/slide/m_slide_banner_02.webp" />
                <img src="/public/custom/type_2/slide/slide_banner_02.webp">
              </picture>
            </div>
            <!-- <div class="carousel-item" data-bs-interval="5000">
              <picture>
                <source media="(max-width: 992px)" srcset="/public/custom/type_2/slide/m_slide_banner_03.webp" />
                <img src="/public/custom/type_2/slide/slide_banner_03.webp">
              </picture>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <picture>
                <source media="(max-width: 992px)" srcset="/public/custom/type_2/slide/m_slide_banner_04.webp" />
                <img src="/public/custom/type_2/slide/slide_banner_04.webp">
              </picture>
            </div> -->
          </div>
          <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button> -->
        </div>
      </div>
      <div id="information" class="mx-auto">
        <div class="row mx-2 mx-lg-0">
          <div class="col-12 m-auto my-1 mt-lg-1 px-5" id="jackpot">
            <span id="counter"></span>
          </div>
          <div
            class="col-12 col-md-6 col-12 col-lg-6 mb-2 mb-lg-3 mt-md-2 px-1 <% if (lotto == '0') { %> d-none <% } %>">
            <div id='lottery-list' class="overflow-hidden row g-0">
              <div class="col-12 lottery-title text-start"></div>
              <div class="col-2 ps-4 lottery-count pt-0 pt-lg-4"></div>
              <div class="col-10 list-group lottery marquee">
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-12 mb-2 col-lg-6 mt-md-2 px-1 <% if (lotto != '0') { %> d-none <% } %>">
            <div id='notice-list' class="overflow-hidden">
              <nav>
                <div class="nav nav-pills nav-justified" role="tablist">
                  <button class="nav-link event active" id="info-event-tab" data-bs-toggle="tab"
                    data-bs-target="#info-event-content" type="button" role="tab" aria-controls="info-event-content"
                    aria-selected="false">이벤트</button>
                  <button class="nav-link notice" id="info-notice-tab" data-bs-toggle="tab"
                    data-bs-target="#info-notice-content" type="button" role="tab" aria-controls="info-notice-content"
                    aria-selected="true">공지사항</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="info-event-content" role="tabpanel" tabindex="0">
                  <div class="list-group event marquee">
                  </div>
                </div>
                <div class="tab-pane fade" id="info-notice-content" role="tabpanel" tabindex="0">
                  <div class="list-group notice marquee">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-12 col-lg-6 mb-3 mt-md-2 px-1">
            <div id='bank-list' class="overflow-hidden">
              <nav>
                <div class="nav nav-pills nav-justified" role="tablist">
                  <button class="nav-link withdraw active" id="info-withdraw-tab" data-bs-toggle="tab"
                    data-bs-target="#info-withdraw-content" type="button" role="tab"
                    aria-controls="info-withdraw-content" aria-selected="false">실시간 출금내역</button>
                  <button class="nav-link deposit" id="info-deposit-tab" data-bs-toggle="tab"
                    data-bs-target="#info-deposit-content" type="button" role="tab" aria-controls="info-deposit-content"
                    aria-selected="true">실시간 입금내역</button>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="info-withdraw-content" role="tabpanel" tabindex="0">
                  <div class="list-group withdraw marquee">
                  </div>
                </div>
                <div class="tab-pane fade" id="info-deposit-content" role="tabpanel" tabindex="0">
                  <div class="list-group deposit marquee">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-12 col-lg-3">
          <div id='win-list'>
          </div>
        </div> -->
        </div>
      </div>
      <div class="game-selector" data-aos="fade-up" data-aos-duration="1500" data-aos-offset="-500">
        <nav>
          <div class="nav nav-tabs row justify-content-between" id="nav-tab" role="tablist" <% if (sport == 1) { %>
            style="background: none" <% } %>>
            <div class="casino-tab <% if (sport == 1) { %> col-4 <% } else { %> col-6 <% } %>">
              <button class="nav-link active" id="nav-casino-tab" data-bs-toggle="tab" data-bs-target="#nav-casino"
                type="button" role="tab"></button>
              <div id="main-casino" class="text d-none">라이브카지노</div>
            </div>
            <div class="slots-tab <% if (sport == 1) { %> col-4 <% } else { %> col-6 <% } %>">
              <button class="nav-link" id="nav-slots-tab" data-bs-toggle="tab" data-bs-target="#nav-slots" type="button"
                role="tab"></button>
              <div id="main-slots" class="text d-none">슬롯게임</div>
            </div>
            <div class="sport-tab <% if (sport == 1) { %> col-4 <% } else { %> d-none <% } %>">
              <button class="nav-link" id="nav-sport-tab"data-bs-toggle="tab" data-bs-target="#nav-sport" type="button"
              role="tab"></button>
              <div id="main-slots" class="text d-none">라이브스포츠</div>
            </div>
            <div class="popular-tab col-3 col-lg-2 d-none">
              <button class="nav-link" id="nav-popular-tab" data-bs-toggle="tab" data-bs-target="#nav-popular"
                type="button" role="tab"></button>
              <div id="main-popular" class="text d-none">인기게임</div>
            </div>
            <div class="new-tab col-3 col-lg-2 d-none">
              <button class="nav-link" id="nav-new-tab" data-bs-toggle="tab" data-bs-target="#nav-new" type="button"
                role="tab"></button>
              <div id="main-new" class="text d-none">신작게임</div>
            </div>
          </div>
        </nav>
        <div class="tab-content pb-3" id="gameList">
          <div class="tab-pane fade show active" id="nav-casino" role="tabpanel" tabindex="0">
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-1 g-lg-2 mt-md-2">
            </div>
          </div>
          <div class="tab-pane fade" id="nav-slots" role="tabpanel" tabindex="0">
            <div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 g-1 g-lg-2 mt-md-2" id="navSlotList"></div>
          </div>
          <div class="tab-pane fade" id="nav-popular" role="tabpanel" tabindex="0">
            <div class="row g-3"></div>
            <div class="col-12 d-none">
              <button type="button" id="main-showAll" class="btn showAll" data-bs-toggle="modal"
                data-bs-target="#popularModal">+ 모두 보기</button>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-new" role="tabpanel" tabindex="0">
            <div class="row g-3">
              <div class="col-12 d-none">
                <button type="button" class="btn btn-warning showAll" data-bs-toggle="modal"
                  data-bs-target="#newModal">+ 모두 보기</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container text-center">
      <img src="/public/images/footer/partners.png" class="partners" />
      <div class="copyright">Copyright 2023. ROYAL LINE. All rights reserved.</div>
    </div>
  </footer>
</body>
<script src="/public/bundle/bundle.js" defer></script>
<!-- <script src="/public/vendor/bootstrap/bootstrap.bundle.min.js"></script> -->

</html>