<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="take" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>회수일시</th>
              <th>회수매장</th>
              <th>유저타입</th>
              <th>아이디</th>
              <th>회수금액</th>
              <th>회수 전 보유금</th>
              <th>회수 후 보유금</th>
              <th>회수_트랜젝션ID</th>
              <th>node_id</th>
              <th>메모</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/bank.js"></script>