<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="headquarter" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>정산일자</th>
              <th>타입</th>
              <th>아이디</th>
              <th>닉네임</th>
              <th>입금</th>
              <th>출금</th>
              <th>지급</th>
              <th>회수</th>
              <th>입출금</th>
              <th>슬롯<br>롤링</th>
              <th>카지노<br>롤링</th>
              <th>롤링<br>수익</th>
              <th>롤링<br>전환</th>
              <th>슬롯<br>베팅</th>
              <th>슬롯<br>당첨</th>
              <th>카지노<br>베팅</th>
              <th>카지노<br>당첨</th>
              <th>카지노<br>취소</th>
              <th>베팅금</th>
              <th>당첨금</th>
              <th>베팅-당첨-취소</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th class="text-center">합계</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/income.js"></script>