<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="balanceLog" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>이벤트 발생일시</th>
              <th>회원타입</th>
              <th>아이디</th>
              <th>닉네임</th>
              <th>이벤트 타입</th>
              <th>고유번호</th>
              <th>변동 전 보유금</th>
              <th>변동 금액</th>
              <th>변동 후 보유금</th>
              <th>플래티넘</th>
              <th>골드</th>
              <th>실버</th>
              <th>브론즈</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/log.js"></script>