<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="userConnect" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>접속일시</th>
              <th>접속타입</th>
              <th>아이디</th>
              <th>닉네임</th>
              <th>파트너 트리</th>
              <th>전용 도메인</th>
              <th>접속 도메인</th>
              <th>접속IP</th>
              <th>접속 기기</th>
              <th>접속 브라우저</th>
              <th>플래티넘</th>
              <th>골드</th>
              <th>실버</th>
              <th>브론즈</th>
              <th>node</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/user.js"></script>