<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="agentInfo" class="cell-border hover"" style=" width: 100%">
          <thead>
            <tr>
              <th rowspan="2"></th>
              <th rowspan="2">node-id</th>
              <th rowspan="2">node-pid</th>
              <th rowspan="2">타입</th>
              <th rowspan="2">아이디</th>
              <th rowspan="2">닉네임</th>
              <th rowspan="2">보유금</th>
              <th rowspan="2">롤링금</th>
              <th rowspan="2">총 입금</th>
              <th rowspan="2">총 출금</th>
              <th rowspan="2">총 입출금</th>
              <th colspan="5" class="text-center d-none d-lg-table-cell">요율(%)</th>
              <th rowspan="2">에이전트 트리</th>
              <th rowspan="2">최근 첩속일시</th>
              <th rowspan="2">최근 접속페이지</th>
              <th rowspan="2">최근 접속IP</th>
              <th rowspan="2">
                <% if (user.type === 9) { %>
                <button class="btn btn-sm asset-danger" id="add-platinum"></button>
                <% } %>
              </th>
              <th rowspan="2">플래티넘</th>
              <th rowspan="2">골드</th>
              <th rowspan="2">실버</th>
              <th rowspan="2">브론즈</th>
              <th rowspan="2">플래티넘_id</th>
              <th rowspan="2">골드_id</th>
              <th rowspan="2">실버_id</th>
              <th rowspan="2">브론즈_id</th>
              <th rowspan="2">기능</th>
            </tr>
            <tr>
              <th>카지노<br>롤링</th>
              <th>슬롯<br>롤링</th>
              <th>루징</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/agent.js"></script>
<script src="/assets/js/jquery-simple-tree-table.js"></script>
<script>
  $('#add-platinum').on('click', function () {
    document.querySelector('#modal-title').innerHTML = '파트너 생성 - 영본';
    document.querySelector('#upper-agent-info').classList.add('d-none');
    document.querySelector('#upper-agent-title').classList.add('d-none');
    document.querySelector('#basic-info').classList.replace('mt-4', 'mt-2');

    $('#addAgentModal').modal('show');
  });
</script>