<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="give" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>지급일시</th>
              <th>지급매장</th>
              <th>유저타입</th>
              <th>아이디</th>
              <th>지급종류</th>
              <th>지급금액</th>
              <th>지급 전 보유금</th>
              <th>지급 후 보유금</th>
              <th>지급_트랜젝션ID</th>
              <th>node_id</th>
              <th>메모</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/bank.js"></script>