<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="deposit" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>신청일시</th>
              <th>회원타입</th>
              <th>아이디</th>
              <th>닉네임</th>
              <th>상위 파트너</th>
              <th>입금자명</th>
              <th>신청 시 보유금</th>
              <th>신청금액</th>
              <th>보너스 타입</th>
              <th>보너스 적용</th>
              <th>승인 후 보유금</th>
              <th>신청IP</th>
              <th>처리현황</th>
              <th>처리일시</th>
              <th>메모</th>
              <th>취소</th>
              <th>플래티넘</th>
              <th>골드</th>
              <th>실버</th>
              <th>브론즈</th>
              <th>node</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th colspan="3"></th>
              <th colspan="4"></th>
              <th colspan="4"></th>
              <th>19</th>
              <th>20</th>
              <th>21</th>
              <th>22</th>
              <th>23</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/bank.js"></script>