<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="incomeAgentBetWin" class="cell-border hover incomeAgentBetWin" style="width: 100%">
          <thead>
            <tr>
              <th rowspan="2"></th>
              <th rowspan="2">IDX</th>
              <th rowspan="2">정산일자</th>
              <th rowspan="2">node_id</th>
              <th rowspan="2">node_pid</th>
              <th rowspan="2">타입</th>
              <th rowspan="2">아이디</th>
              <th rowspan="2">닉네임</th>
              <th colspan="2" class="text-center d-none d-lg-table-cell">현재 보유</th>
              <th colspan="5" class="text-center d-none d-lg-table-cell">요율(%)</th>
              <th colspan="3" class="text-center d-none d-lg-table-cell" id="betWinCasinoHeader">카지노</th>
              <th colspan="3" class="text-center d-none d-lg-table-cell" id="betWinSlotHeader">슬롯</th>
              <th colspan="2" class="text-center d-none d-lg-table-cell">획득 롤링</th>
              <th colspan="5" class="text-center d-none d-lg-table-cell">정산</th>
              <th rowspan="2">플래티넘</th>
              <th rowspan="2">골드</th>
              <th rowspan="2">실버</th>
              <th rowspan="2">브론즈</th>
            </tr>
            <tr>
              <th class="bg-gray">보유금</th>
              <th class="bg-gray">포인트</th>
              <th>카</th>
              <th>슬</th>
              <th>루</th>
              <th></th>
              <th></th>
              <th class="bg-gray">베팅</th>
              <th class="bg-gray">획득</th>
              <th class="bg-gray">베팅 - 획득</th>
              <th>베팅</th>
              <th>획득</th>
              <th>베팅 - 획득</th>
              <th class="bg-gray">카지노(F)</th>
              <th class="bg-gray">슬롯(G)</th>
              <th>루징</th>
              <th>총 정산금</th>
              <th>하부 합산<br>루징금</th>
              <th>최종<br>루징금</th>
              <th>최종<br>정산금</th>
            </tr>
          </thead>
          <!-- <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th class="text-center">합계</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot> -->
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/income.js"></script>
<script src="/assets/js/jquery-simple-tree-table.js"></script>