<%- contentFor('css') %>

<%- contentFor('body') %>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table id="incomeHeadquarters" class="cell-border hover" style="width: 100%">
          <thead>
            <tr>
              <th>IDX</th>
              <th>정산일자</th>
              <th>입금</th>
              <th>출금</th>
              <th>입금-출금</th>
              <th>베팅</th>
              <th>획득</th>
              <th>베팅-획득</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th></th>
              <th class="text-center">합계</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

<%- contentFor('script') %>
<script src="/assets/script/income.js"></script>